body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 10px;
  left: 10px;
}

.hometitle{
  text-align: center;
}

.searchbox{
  text-align: center;
}

.leftSectionHome h2{
  text-align: center;
}

.rightSectionHome h2{
  text-align: center;
}