html[data-theme="light"] {
  --text: rgb(2, 17, 18);
  --background: rgb(246, 253, 254);
  --primary: rgb(43, 200, 227);
  --secondary: rgb(216, 131, 169);
  --accent: rgb(160, 160, 107);
  --link: rgb(0, 0, 255);
  --button: rgb(255, 255, 255);
}

html[data-theme="dark"] {
  --text: rgb(237, 252, 253);
  --background: rgb(34, 55, 68);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(124, 39, 77);
  --accent: rgb(180, 152, 122);
  --link: rgb(255, 123, 0);
  --button: rgb(0, 0, 0);
}

a{
  color: var(--link);
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
	transition: background 0.2s linear;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  left: 10vw;
  width: 89vw;
}

#root .content {
  position: relative;
  padding-top: 20px;
  margin-top: 21px;
}

#title {
  position: relative;
  left: 10vw;
  top: 5vh;
}

#nav {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8vw;
  height: 90vh;
}

[data-theme="dark"] a:visited {
  color: var(--accent);
}

#directory {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 150px;
  height: 70vh;
  padding: 0px;
  margin: 0;
  border: 1px solid grey;
  border-radius: 5px;
}

#directory table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.leftButton{
  position: absolute;
  top:20px;
  left:200px;
}

.rightButton{
  position: absolute;
  top:20px;
  right:200px;
}

#directory tbody {
  width: 100%;
}

#directory td {
  border-bottom: 1px solid grey;
}

#directory a {
  color: var(--text);
  text-decoration: none;
}

.logo{
  position: absolute;
  width: 140px;
  height: 140px;
  top: 10px;
  left: 16px;
}

.createDirectoryButton{
  position: absolute;
  top: 160px;
  left: 22px;
  width: 120px;
}

.userHolder{
  position: absolute;
  top: 10px;
  right: 10px;
}

.hometitle{
  text-align: center;
}

button{
  background-color: var(--button);
  color: var(--text);
  margin: 5px;
  padding: 4px;
  font-size: 15px;
}

input{
  width: 200px;
  padding: 5px;
}

.searchBox{
  text-align: center;
  padding: 30px;
}

.leftSectionHome h2{
  text-align: center;
}

.rightSectionHome h2{
  text-align: center;
}

/* CSS for darkmode button after this point */

.theme-button {
  position: absolute;
  box-sizing: border-box;
  top: 50px;
  right: 50px;
}

.theme-toggle {
	opacity: 0;
	position: absolute;
}

.theme-inner {
  background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 40px;
	/*transform: scale(1.5);*/
}

.theme-inner .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.theme-toggle:checked + .theme-inner .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}


/* Results Page Formatting */
.results-container {
    text-align: center;
}

.results-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.results-list {
    list-style: none;
    padding: 0;
}

.result-item {
    margin-bottom: 10px;
}

.result-link {
    font-size: 18px;
    text-decoration: none;
    color: #333;
}

.result-link:hover {
    color: #007bff; /* Change color on hover */
}

.homepage{
  position: absolute;
  margin: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.leftSectionHome{
  text-align: left;
}

.rightSectionHome{
  text-align: left;
}

.content{
  position: absolute;
  padding: 100px;
}

.content h1{
  text-align: center;
}

.content p{
  text-align: center;
}

.content a{
  text-align: center;
}

.dirTable{
  text-align: center;
}

.userForm{
  text-align: center;
}